In [9]:
import pandas as pd

In [10]:
ser={'index':[11,1,288,3],'data':[145,142,38,13],'name':'songs'}

def get(ser,idx):
    value_idx=ser['index'].index(idx)
    return ser['data'][value_idx],value_idx

get(ser,288)

(38, 2)

In [11]:
import sys, os, re, unittest
os.getcwd()

def regressionTest():
    path = os.getcwd()       
    sys.path.append(path)    
    files = os.listdir(path)
    return(files)
regressionTest()

['.ipynb_checkpoints', 'DÃ©butant codes EH.ipynb']

In [12]:
songs=pd.Series([145,142,38,13],name='counts')
songs

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [13]:
songs.iloc[[2,3]]

2    38
3    13
Name: counts, dtype: int64

In [14]:
#songs2={'index': ['Paul','John','George','Ringo'],'data':[145,142,38,13],'name':'counts'}
songs2={'Paul':145,'John':142,'George':38,'Ringo':13,'name':'counts'}
s = pd.Series(songs2)
s.iloc[1]
s[1]
s['Ringo']

13

In [15]:
s.iloc[2]

38

In [16]:
songs3=pd.Series([145,142,38,13],name='counts',index=['Paul','John','George','Ringo'])
songs3
songs3.loc['Ringo']
songs3['Paul']
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [17]:
df = pd.DataFrame({
    'col_1': [0, 1, 2, 3],
    'col_2': [4, 5, 6, 7]
})
df

   col_1  col_2
0      0      4
1      1      5
2      2      6
3      3      7

In [18]:
Mik=songs3>songs3.median()
songs3[Mik]

Paul    145
John    142
Name: counts, dtype: int64

In [19]:
Mik=songs3>songs3.mean()
songs3[Mik]

Paul    145
John    142
Name: counts, dtype: int64